
@{
    ViewBag.Title = "Index";
}

<h2>Index van Publiek</h2>

<p>@Html.ActionLink("Klik om naar de indexpagina van de Prive-area te gaan", "Index", new { area = "Prive" })</p>
<p>@Html.ActionLink("Klik om naar de indexpagina van de Root-area te gaan", "Index", new { area = "" })</p>