
@{
    ViewBag.Title = "Index";
}

<h2>Index van Prive</h2>

<p>@Html.ActionLink("Klik om naar de indexpagina van de Publiek-area te gaan", "Index", new { area = "Publiek" })</p>
<p>@Html.ActionLink("Klik om naar de indexpagina van de Root-area te gaan", "Index", new { area = "" })</p>